- name: Install SQL Server using SqlSetup DSC resource
  ansible.windows.win_dsc:
    resource_name: SQLSetup
    Action: Install
    UpdateEnabled: "{{ sql_install_enableupdates }}"
    SourcePath: "{{ disk_image_out.results[0].mount_paths[0] }}"
    InstanceName: "{{ sql_install_instance_name }}"
    InstallSharedDir: "{{ sql_install_installshareddir }}"
    InstallSharedwowDir: "{{ sql_install_installsharedwowdir }}"
    InstanceDir: "{{ sql_install_instance_dir }}"
    InstallSQLDataDir: "{{ sql_install_installdb_path }}"
    SQLBackupDir: "{{ sql_install_backup_path }}"
    SQLUserDBDir: "{{ sql_install_userdb_path }}"
    SQLUserDBLogDir: "{{ sql_install_userdblog_path }}"
    Features: "{{ sql_install_features }}"
    SQLCollation: "{{ sql_install_sqlcollation }}"
    SQLSysAdminAccounts: "{{ sql_install_sysadminaccount }}"
    SAPwd_username: "sa"
    SAPwd_password: "{{ sql_install_sapwd }}"
    SecurityMode: SQL
    SQLTempDBFileCount: "{{ sql_install_tempdbfilecount }}"
    SQLTempDBFileSize: "{{ sql_install_tempdbfilesize }}"
    SQLTempDBFileGrowth: "{{ sql_install_tempdbfilegrowth }}"
    SQLTempDBLogFileSize: "{{ sql_install_tempdblogfilesize }}"
    SQLTempDBLogFileGrowth: "{{ sql_install_tempdblogfilegrowth }}"
    SQLTempDBDir: "{{ sql_install_tempdb_path }}"
    SQLTempDBLogDir: "{{ sql_install_tempdblog_path }}"
    ProductKey: "{{ sql_install_product_key | string }}"
    UpdateSource: "{{ sql_install_update_source_path | default(omit) }}"
{% if sql_install_agent_svc_account is defined and sql_install_agent_svc_account | length > 0 %}
    AgtSvcAccount_username: "{{ sql_install_agent_svc_account }}"
{% endif %}
{% if sql_install_sql_svc_account is defined and sql_install_sql_svc_account | length > 0 %}
    SQLSvcAccount_username: "{{ sql_install_sql_svc_account }}"
{% endif %}
    SQLSvcStartupType: Automatic
  register: sql_install_result
  # no_log: true
